<form {{action noWeDont model on="submit"}}>
  {{input type="text" placeholder="email" value=model.email}}
  {{input type="password" placeholder="password" value=model.password}}

  <button>Login</button>
</form>
